@main("index","LivePPT") {

<div class="container">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-center">
        <h1>Live PPT</h1>
        <p>跨平台PPT云直播应用<br/>一款用于PPT直播的跨平台应用，目标在于随时随地发起、参与PPT直播会议，用户可通过App和WEB等多途径使用</p>
        <p>
            <a href="/signup" class="btn btn-primary btn-large">注册</a>
            <a href="#" class="btn btn-success btn-large">查看更多 &raquo;</a>
        </p>
        <ul class="nav tiny-logo">
            <li><img src="@routes.Assets.at("images/html5.svg")" alt="HTML5">Web</li>
            <li><img src="@routes.Assets.at("images/android.svg")" alt="Android">Android</li>
            <li><img src="@routes.Assets.at("images/mac.png")" alt="Iphone">Iphone</li>
            <li><img src="@routes.Assets.at("images/wp.svg")" alt="WinPhone">WinPhone</li>
        </ul>
    </div>

    <div class="body-content">

        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-4 product">
                <h2>产品构思</h2>
                <ul>
                    <li><span class="icon-remove"></span>被教条束缚(SoMoLo)</li>
                    <li><span class="icon-ok"></span>积极运用新锐技术</li>
                    <li><span class="icon-remove"></span>硬碰领域巨头(QQ)</li>
                    <li><span class="icon-ok"></span>重新认识移动设备</li>
                    <li><span class="icon-remove"></span>将需求强加于用户</li>
                    <li><span class="icon-ok"></span>充分推敲用户需求</li>
                </ul>
                <p><a class="btn btn-default" href="#">更多 &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h2>跨平台PPT直播！</h2>
                <p>没有投影仪，也能PPT直播。</p>
                <p><a class="btn btn-default" href="#">更多 &raquo;</a></p>
            </div>
            <div class="col-lg-4 about-me">
            <h2>关于FeverTeam</h2>
                <p>
                    <span class="title">LivePPT</span>：梁博文<br/>
                    <span class="title">Backend</span>：黎伟杰 <span class="label label-success">共5人</span><br>
                    <span class="title">Android</span>：何俊浩 <span class="label label-success">共2人</span><br>
                    <span class="title">WEB</span>：周梓煜 <span class="label label-success">共4人</span><br>
                    <span class="title">WinPhone</span>：郭明创
                </p>
                <p><a class="btn btn-default" href="#">更多 &raquo;</a></p>
            </div>
        </div>

        <hr>

        <footer>
            <p>© Company 2013</p>
        </footer>
    </div>

</div> <!-- /container -->

}