@main("login", "登录"){

<div class = "cover">
</div>
<div class = "row loginFrame" id = "login">
    <div class = "col-lg-3 loginMain">
        <img src="@routes.Assets.at("images/close.png")" alt="close" class = "closeBtn" />
        <div class = "logoWrapper"><img src="@routes.Assets.at("images/liveppt-icon.png")" /></div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-12">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class = "col-lg-5">
                    <span class = "loginMessage" id = "loginMessage"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">保持登录状态
                        </label>
                    </div>
                </div>
                <div class="col-lg-offset-2 col-lg-3">
                    <button type="button" class="btn btn-primary" id = "loginBtn">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>
}