@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
<!-- 旧demo 引用的css    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/common.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/page.css")"> 
-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/3/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/logo.jpg")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/page-jz.css")">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
    <script src="@routes.Assets.at("javascripts/sea/sea.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/app/config.js")" type="text/javascript"></script>
    <script type="text/javascript">
        seajs.use("/assets/javascripts/app/main.js");
    </script>
</head>
<body>
@content
</body>
</html>
