<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Live PPT</a>
        <div class="nav-collapse collapse">
             <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li>
                    <!-- 请提供统一的测试账号 ——江楠
                    @if(ctx().session().get("email") == null){
                        <a href="/login">我的PPT</a>
                    }else{
                        <a href="/myppt">我的PPT</a>
                    } 
                    -->
                    <a href="/myppt">我的PPT</a>
                </li>
                <li><a href="/list">会议列表</a></li>
                <li><a href="/download">应用下载</a></li>
                <li><a href="/about">关于我们</a></li>
            </ul>
            <form class="navbar-form form-inline pull-right">
                <button type = "button" class="btn" onclick=" location.href = '/login' ">登录</button>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</div>