@main("signup","注册"){
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Live PPT</a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li>
                    @if(ctx().session().get("email") == null){
                        <a href="/login">我的PPT</a>
                    }else{
                        <a href="/myppt">我的PPT</a>
                    }
                </li>
                <li><a href="/list">会议列表</a></li>
                <li><a href="/download">应用下载</a></li>
                <li><a href="/about">关于我们</a></li>
            </ul>
            <form class="navbar-form form-inline pull-right">
                <button type = "button" class="btn" onclick=" location.href = '/login' ">登录</button>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class = "container" style="padding-top: 50px;">
    <div class="row">
        <div class = "col-lg-6">
            <div id = "jz-left-eff">
            <h1 class="jz-mt-100">从这里开始，感受超凡</h1>
             <img src="@routes.Assets.at("images/liveppt-icon.png")" class="img-rounded" width="140"/>
            </div>
        </div>
        <div class = "col-lg-5">
            <div id = "signup" class="jz-border-s1 jz-padding-15">
            <form>
                <fieldset>
                    <h2>注册新用户</h2>
                    <div class="form-group">
                        <label for="email" id="emailLabel">Email Address</label>
                        <input type="text" class="form-control" id="email" placeholder="输入电子邮箱">
                    </div>
                    <div class="form-group">
                        <label for="password" id = "passwordLabel">Input Password</label>
                        <input type="password" class="form-control" id="password" placeholder="输入密码">
                    </div>
                    <div class="form-group">
                        <label for="tpassword" id = "tpasswordLabel">Comfirm Password</label>
                        <input type="password" class="form-control" id="tpassword" placeholder="再次输入密码">
                    </div>
                    <div class="form-group">
                        <label for="displayName" id="displayNameLabel">Display Name</label>
                        <input type="text" class="form-control" id="displayName" placeholder="如何称呼你">
                    </div>
                    <button type="button" disabled = "disabled" class="btn btn-primary btn-large btn-block" id = "signupbtn">注册</button>
                </fieldset>
            </form>
            </div>
        </div>
    </div>
</div>

}