@main(name="aboutUs", "关于我们", ""){
  @** Extra CSS **@  
}{ 

<h3>关于Fever团队</h3>
	<p>
		Fever成立于2013年1月15日，由梁博文发起并组建。<br>我们是一支充满激情、立志以互联网创新产品服务更多人的团队。
	</p>

<br><br>

<h3>关于LivePPT</h3>
	<p>
		LivePPT(暂名)是一个跨平台的同步PPT直播会议应用，计划覆盖浏览器、Android、iOS平台。
	</p>
	<br>
	<ul>
		<li>Leader、产品原创：梁博文</li>
		<li>后端开发：梁博文、黎伟杰、黎子靖</li>
		<li>前端开发：梁博文</li>
		<li>Android应用开发：何俊浩</li>
		<li>iOS应用开发：梁博文</li>
		<li>产品设计：方菲</li>
	</ul>

<br><br>

<h3>特别鸣谢</h3>
	
	<ul>
		<li>梁爸爸/妈妈：&nbsp; &nbsp; &nbsp; 垫付开发和部署中所需大部分资金，让LivePPT目前依然保持免费和高质量的服务。</li>
		<li>赵淦森老师：&nbsp; &nbsp; &nbsp; &nbsp; 全力助力Fever团队的组建，帮助梁博文和Fever团队以创新理念完成项目。</li>
		<li>UC Elite Force：&nbsp; &nbsp; &nbsp; 让我真正有机会接触互联网开发，给予我多维度的帮助和支持。</li>
		<li>邵禹方：&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 义务提供iPhone设备，极大帮助了LivePPT在iOS平台上的开发。</li>
	</ul>


}