@(meeting: com.fever.liveppt.models.Meeting, user: com.fever.liveppt.models.User, token: String)

@main(name="controlMeeting", title="控制会议", user.displayname) {
} {
@defining(meeting.ppt){ppt=>
<div class="page-header">
    <h1>@meeting.topic
        <small>(会议ID:@meeting.id)</small>
    </h1>
</div>
<div>控制你的会议 —— 切换的PPT图像会实时同步到同一会议的观看者屏幕中。</div>

<div class="row">
    <div class="btn-group col-md-4">
        <button class="btn btn-medium" id="prePage">Pre 上一页</button>
        <button class="btn btn-medium" id="nextPage">下一页 Next</button>
    </div>
    <div class="col-md-2 col-md-offset-5">
        <input type="text" data-width="50" data-height="50" id="pageKnob">
    </div>
</div>

<br>


<div class="hide" id="datadiv" meetingid="@meeting.id"
     pptid="@ppt.id" pagecount="@ppt.pagecount"></div>

<!-- for testing-->
<div id="pptCarousel" class="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#pptCarousel" data-slide-to="0" class="active"></li>
        @for(i <- 1 to ppt.pagecount-1){
        <li data-target="#pptCarousel" data-slide-to="@i"></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/ppt/pageImage?pptId=@ppt.id&page=1&uemail=@user.email&token=@token"
                 style="MARGIN-RIGHT: auto;MARGIN-LEFT: auto; "/>
        </div>
        @for(i <- 2 to ppt.pagecount){
        <div class="item">
            <img src="/ppt/pageImage?pptId=@ppt.id&page=@i&uemail=@user.email&token=@token"
                 style="MARGIN-RIGHT: auto;MARGIN-LEFT: auto; "/>
        </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#pptCarousel" data-slide="prev" id="leftControl">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#pptCarousel" data-slide="next" id="rightControl">
        <span class="icon-next"></span>
    </a>
</div>

<div>
    <ul class="pagination">
        @for(index <- 1 to ppt.pagecount){
        <li id="page@index" data-id="@index"><a href="#">@index</a></li>
        }
    </ul>
</div>
}
}