@(
user: com.fever.liveppt.models.User,
token: String
)

@import layout._


@bodyHtml = {
@defining(user.myFoundedMeeting){myFoundedMeetingList=>
<div class="page-header">
    <h3>我主持的幻灯会议</h3>
</div>

<div>
    <button class="btn">发起会议</button>
</div>

<br>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">共@myFoundedMeetingList.size()个会议</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>会议编号</th>
                <th>会议主题</th>
                <th>对应PPT</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            @for(m <- myFoundedMeetingList) {
            <tr>
                <td>@m.id</td>
                <td>@m.topic</td>
                <td>@(m.ppt.title)(#@(m.ppt.id))</td>
                <td>
                    <a href="/liveControl/@m.id" target="_blank" class="btn btn-primary" role="button">进入会议</a>
                    &nbsp;&nbsp;
                    <button class="btn btn-danger delete-meeting" meetingId="@m.id">删除会议</button>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

}
}

@addJs = {
var uemail = "@user.email";
var token = "@token";
//seajs.use("/assets/js/hostMeeting.js");
}


@mainLayout(bodyContent = bodyHtml, user = user, addJs = addJs)