@main(name="index", "欢迎使用"){
  @** Extra CSS **@  
}{ 
  <div class="jumbotron">
    <h1>欢迎使用LivePPT!</h1>
    <p class="lead">
      跨平台PPT云直播应用，就在你的眼前。
      <br><br>      
      随时随地PPT直播，让你的想法更有力。
    </p>
    <a class="btn btn-large btn-success" href="/signup">Sign up today</a>
    <br>
    <br>
    <a href="/login">已经有账号了? 快来登录吧。</a>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <h4>在线PPT会议</h4>
      <p>没有投影仪，一样可以开PPT会议。</p>

      <h4>免费</h4>
      <p>高质量的服务，而且免费。</p>
    </div>

    <div class="span5">
      <h4>跨平台</h4>
      <p>通过浏览器和LivePPT应用，即可享受服务。</p>

      <h4>易用</h4>
      <p>几乎无需学习，LivePPT一切皆如你所愿。</p>

    </div>
  </div>
}