<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <br>

                <div class="input-group">
                    <input id="input_new_meeting_topic" type="text" class="form-control" placeholder="输入新会议名称">
                </div>
                <br>
                <br>
                <button id="btn_launch_new_meeting" class="btn btn-warning">新建会议</button>
            </div>
            <div class="col-md-8">


                <div class="row">
                    {{#ppts}}
                    <div class="col-md-4">
                        <a href="#" class="thumbnail ppt_to_be_select" pptId="{{pptId}}">
                            <img src="/ppt/pageImage?pptId={{pptId}}&page=1&uemail={{uemail}}&token={{token}}"
                                 class="img-rounded">

                            <p>{{title}}</p>
                        </a>
                    </div>
                    {{/ppts}}
                    </row>


                </div>
            </div>
        </div>
    </div>
</div>