@(name: String, title: String, username: String)(css: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> @title - @Messages("gen_subtitle")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="/assets/images/cloudslides-favicon.png">

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CloudSlides 云幻灯</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="index"><a href="/"> @Messages("nav_tab_index") </a></li>
                <li id="myppt"><a href="/myppt" @if(username.isEmpty){ onclick="alert('快来登录吧'); return false;"}>
                    @Messages("nav_tab_myppt") </a></li>
                <li id="mymeeting"><a href="/mymeeting" @if(username.isEmpty){ onclick="alert('你似乎还没登录喔'); return false;"}> @Messages("nav_tab_mymeeting") </a></li>
                <li id="appDownload"><a href="/appDownload"> @Messages("nav_tab_appdownload") </a></li>
                <li id="aboutUs"><a href="/aboutUs"> @Messages("nav_tab_aboutus") </a></li>
            </ul>
            @if(username.isEmpty) {
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="账号" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="密码" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-login-submit"> @Messages("login_btn_login")</button>
            </form>
            } else {
            <ul class="nav navbar-nav navbar-right">
                <li><div>hi, @username !</div></li>
                <li><a href="/logout" class="btn">登出</a></li>
            </ul>
            }
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    @content
    <hr>
    <footer>
        <p>&copy; Fever Team 2013 梁博文 叶江楠 何俊浩 黎伟杰 黎子靖<a target="_blank" href="http://weibo.com/feverteam"></a></p>
    </footer>
</div>
<!-- /container -->
<div class="modal fade" role="dialog" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">提示</h3>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/sea-2.0.0.js" data-config="/assets/js/main-config"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
    /**
    * 模态提示框
    * 提示信息
    * 叶江楠
    */
    function showmsg (str) {
    $('#myModal p').html(str);
    $('#myModal').modal('show');
    }
    seajs.use('@name');
</script>

<!--GoogleAnalysis相关代码-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-40933778-2', 'cloudslides.net');ga('send', 'pageview');
</script>

</body>
</html>
