@(name: String, title: String)(css: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> @title - @Messages("gen_subtitle")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="/assets/images/liveppt-icon-favicon.png">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">CloudSlides</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/"> @Messages("nav_tab_index") </a></li>
              <li><a href="/myppt"> @Messages("nav_tab_myppt") </a></li>
              <li><a href="/mymeeting"> @Messages("nav_tab_mymeeting") </a></li>
              <li><a href="/appDownload"> @Messages("nav_tab_appdownload") </a></li>
              <li><a href="/aboutUs"> @Messages("nav_tab_aboutus") </a></li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="账号" id="inputEmail">
              <input class="span2" type="password" placeholder="密码" id="inputPassword">
              <button type="submit" class="btn btn-login-submit"> @Messages("login_btn_login") </button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      @content
      <hr>
      <footer>
        <p>&copy; Fever Team 2013 梁博文 叶江楠 何俊浩 黎俊良 子靖<a target="_blank" href="http://weibo.com/feverteam"></a></p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/sea-2.0.0.js" data-config="/assets/js/main-config"></script>
    <script>
      seajs.use('@name');
    </script>

  </body>
</html>
