@(user: com.fever.liveppt.models.User, myFoundedMeetingList: List[com.fever.liveppt.models.Meeting], myAttendingMeetingList: List[com.fever.liveppt.models.Meeting])

@main(name="mymeeting", "我的PPT会议") {

}{
	<p>hi, @user.displayname! <a href="/logout">@Messages("gen_logout_txt")</a></p>
	<br>
	<h2>
		@Messages("mymeeting_tbl_caption_myfoundedmeetings")
		<span class="badge badge-info">@Messages("mymeeting_tbl_toggle_count", myFoundedMeetingList.size())</span>
	</h2>
	<button class="btn" id="btn-found-new-meeting">@Messages("mymeeting_btn_launchmeeting")</button>
	<br><br>
	<table class="table">
		<thead>
	      <tr>
	        <th>@Messages("mymeeting_tbl_meetingid")</th>
	        <th>@Messages("mymeeting_tbl_meetingtopic")</th>
	        <th>@Messages("mymeeting_tbl_targetppt")</th>
	      </tr>
	    </thead>
	    <tbody>
    	@for(m <- myFoundedMeetingList) {
			<tr>
				<td>@m.id</td>
				<td>@m.topic</td>
				<td>@(m.ppt.title)(#@(m.ppt.id))</td>
				<td><button class="btn enter-control-meeting" meetingId="@m.id">进入会议</button></td>
				<td><button class="btn delete-meeting" meetingId="@m.id">删除会议</button></td>
			</tr>
		}
		</tbody>
	</table>
	<br>




	<h2>
		@Messages("mymeeting_tbl_caption_myattendingmeetings")
		<span class="badge badge-info">@Messages("mymeeting_tbl_toggle_count", myAttendingMeetingList.size())</span>
	</h2>
	<button class="btn" id="btn-showpage-join-meeting">@Messages("mymeeting_btn_joinmeeting")</button>
	<br><br>
	<table class="table">
		<thead>
	      <tr>
	        <th>@Messages("mymeeting_tbl_meetingid")</th>
	        <th>@Messages("mymeeting_tbl_meetingtopic")</th>
	        <th>@Messages("mymeeting_tbl_meetingfounder")</th>
	      </tr>
	    </thead>
	    <tbody>
    	@for(m <- myAttendingMeetingList) {
			<tr>
				<td>@m.id</td>
				<td>@m.topic</td>
				<td>@m.founder.displayname</td>
				<td><button class="btn view-meeting" meetingId="@m.id">进入会议</button></td>
				<td><button class="btn quit-meeting" meetingId="@m.id" userId="@user.id">退出会议</button></td>
			</tr>
		}
		</tbody>
	</table>
	<br>



	<!-- Modal For Launching Meeting -->
	<div id="modal-ppt-list" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">加入PPT会议</h3>
	  </div>
	  <div class="modal-body">
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>


	<!-- Modal For Joining Meeting -->
	<div id="modal-join-meeting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">加入会议</h3>
	  </div>
	  <div class="modal-body">
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>
}