@(title: String = "mymeeting", myFoundedMeetingList: List[com.fever.liveppt.models.Meeting], myAttendingMeetingList: List[com.fever.liveppt.models.Meeting])

@main(name="mymeeting", title) {

}{
	<h2>我主持的会议</h2>
	<p>我共发起了@myFoundedMeetingList.size()个会议。</p>
	<button class="btn" id="btn-found-new-meeting">发起会议</button>
	<hr>




	<h2>我参与的会议</h2>
	<p>我共参与了@myFoundedMeetingList.size()个会议。</p>
	<hr>





	<!-- Modal -->
	<div id="modal-ppt-list" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">选择一个用于直播的PPT。</h3>
	  </div>
	  <div class="modal-body">
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>
}