@(user: com.fever.liveppt.models.User, myFoundedMeetingList: List[com.fever.liveppt.models.Meeting], myAttendingMeetingList: List[com.fever.liveppt.models.Meeting])

@main(name="mymeeting", "我的PPT会议") {

}{
	<p>hi, @user.displayname! <a href="/logout">登出Logout</a></p>
	<br>
	<h2>我主持的会议<span class="badge badge-info">共@(myFoundedMeetingList.size())个</span></h2>
	<button class="btn" id="btn-found-new-meeting">发起会议</button>
	<br><br>
	<table class="table">
		<thead>
	      <tr>
	        <th>会议ID</th>
	        <th>会议主题</th>
	        <th>对应PPT文件</th>
	      </tr>
	    </thead>
	    <tbody>
    	@for(m <- myFoundedMeetingList) {
			<tr>
				<td>@m.id</td>
				<td>@m.topic</td>
				<td>@(m.ppt.title)(#@(m.ppt.id))</td>
				<td><button class="btn enter-control-meeting" meetingid="@m.id">进入会议</button></td>
				<td><button class="btn delete-meeting" meetingid="@m.id">删除会议</button></td>
			</tr>
		}
		</tbody>
	</table>
	<br>




	<h2>我参与的会议<span class="badge badge-info">共@(myAttendingMeetingList.size())个</span></h2>
	<button class="btn" id="btn-showpage-join-meeting">加入会议</button>
	<br><br>
	<table class="table">
		<thead>
	      <tr>
	        <th>会议ID</th>
	        <th>会议主题</th>
	        <th>发起人</th>
	      </tr>
	    </thead>
	    <tbody>
    	@for(m <- myAttendingMeetingList) {
			<tr>
				<td>@m.id</td>
				<td>@m.topic</td>
				<td>@m.founder.displayname</td>
				<td><button class="btn view-meeting" meetingid="@m.id">进入会议</button></td>
				<td><button class="btn quit-meeting" meetingid="@m.id">退出会议</button></td>
			</tr>
		}
		</tbody>
	</table>
	<br>



	<!-- Modal For Launching Meeting -->
	<div id="modal-ppt-list" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">加入PPT会议</h3>
	  </div>
	  <div class="modal-body">
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>


	<!-- Modal For Joining Meeting -->
	<div id="modal-join-meeting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">加入会议</h3>
	  </div>
	  <div class="modal-body">
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>
}