@(user: com.fever.liveppt.models.User)
@main(name="myppt", "我的PPT", username= user.displayname) {

}{
  @defining(user.ppts){ppts=>
    <div class="page-header">
      <h1>我的PPT<span class="badge badge-success">共@ppts.size个</span></h1>
    </div>
    <br>
    <input type="file" name="file_upload" id="file_upload" />

    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>@Messages("myppt_tbl_ppttitle")</th>
          <th>@Messages("myppt_tbl_uploadtime")</th>
          <th>@Messages("myppt_tbl_filesize")</th>
          <th>@Messages("myppt_tbl_isconverted")</th>
          <th>@Messages("myppt_tbl_pagecount")</th>
        </tr>
      </thead>
      <tbody>
        @for(ppt <- ppts){
        <tr class="
          @if(ppt.isConverted){
          success 
          } else {
          warning 
          }
          ">
          <td>@ppt.id</td>
          <td>@ppt.title</td>
            <td>@(new java.text.SimpleDateFormat("yyyy年MM月dd日 hh:mm:ss").format(ppt.time))</td>          
          <td>@(ppt.fileSize/1024) KB</td>
          @if(ppt.isConverted){
            <td><a href="/pptplainshow/@ppt.id" target="_blank">@Messages("myppt_tbl_converted_yes")</a></td>
            <td>@ppt.pagecount</td>
          } else {
            <td>@Messages("myppt_tbl_converted_no")</td>
            <td></td>
          }
        </tr>
        }
      </tbody>
    </table>
  }
}