@(ppts: List[com.fever.liveppt.models.Ppt])




<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">选择一个用于直播的PPT</h3>
        </div>
        <div class="modal-body">
            <span class="badge badge-info">以下 @ppts.size() 个PPT已转码。</span>
            <div id="div-choose-ppt">
                @for(ppt <- ppts) {
                <div>
                    <h3>@ppt.title</h3>
                    <p>页数: @ppt.pagecount</p>
                    <p>上传时间: @ppt.time</p>
                    <button class='btn btn-primary col-md-offset-3 btn-choose-ppt-new-meeting' pptid='@ppt.id'>
                        发起会议
                    </button>
                </div>
                }

            </div>

        </div>
    </div>

    <div id="div-setup-meeting" class="hide">
        <h3>haha</h3>
    </div>