@(title: String = "Signup")

@main(name="signup", title) {
  @** Extra CSS **@
  body {
    padding-bottom: 40px;
  }

  .form-signup {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signup .form-signup-heading,
  .form-signup .checkbox {
    margin-bottom: 10px;
  }
  .form-signup input[type="text"],
  .form-signup input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

}{ 

  <form class="form-signup">
    <h2 class="form-signup-heading">注册LivePPT</h2>
    <input type="text" class="input-block-level" placeholder="Email address">
    <input type="password" class="input-block-level" placeholder="Password">
    <button class="btn btn-large btn-primary btn-signup-submit" type="submit">注册</button>
    <br><br>
    <a href='/login'>已有LivePPT账号？马上登录吧！</a>
  </form>
}