@main(name="signup", "注册账号") {
  @** Extra CSS **@
  body {
    padding-bottom: 40px;
  }

  .form-signup {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signup .form-signup-heading,
  .form-signup .checkbox {
    margin-bottom: 10px;
  }
  .form-signup input[type="text"],
  .form-signup input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

  #alertBox {
    display: none;
  }

}{ 

  <form class="form-signup">
    <h2 class="form-signup-heading">注册LivePPT</h2>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="输入你的Email地址">
      </div>

      <label class="control-label" for="inputDisplayName">Display Name</label>
      <div class="controls">
        <input type="text" id="inputDisplayName" placeholder="希望我们如何称呼你？">
      </div>

      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="text" id="inputPassword" placeholder="输入你的密码">
      </div>

      <label class="control-label" for="inputPasswordAgain">Confirm Password</label>
      <div class="controls">
        <input type="text" id="inputPasswordAgain" placeholder="再次输入相同的密码">
      </div>

    </div>

    <a class="btn btn-primary btn-large btn-signup-submit">注册</a>

    <br><br>

    <div class="alert alert-error fade in" id="alertBox">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <span></span>
    </div>

    <br>
    <a href="/login">已有LivePPT账号？马上登录吧！</a>
  </form>
}