@import play.i18n._

@main(name="signup", "注册账号", "") {
  @** Extra CSS **@
  /*
  body {
    padding-bottom: 40px;
  }

  .form-signup {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signup .form-signup-heading,
  .form-signup .checkbox {
    margin-bottom: 10px;
  }
  .form-signup input[type="text"],
  .form-signup input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
  */

  #alertBox {
    display: none;
  }

}{
<h2 class="page-header">@Messages.get("signup_title")</h2>
        <br>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputEmail" class="col-lg-1 control-label">Email</label>
        <div class="col-lg-4">
            <input type="email" class="form-control" id="inputEmail" placeholder="@Messages.get("signup_placeholder_email")">
        </div>
    </div>

    <div class="form-group">
        <label for="inputDisplayName" class="col-lg-1 control-label">显示名</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="inputDisplayName" placeholder="@Messages.get("signup_placeholder_displayname")">
        </div>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="col-lg-1 control-label">密码</label>
        <div class="col-lg-4">
            <input type="password" class="form-control" id="inputPassword" placeholder="@Messages.get("signup_placeholder_password")">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10">
            <button class="btn btn-primary btn-large btn-signup-submit">@Messages.get("signup_btn_signup")</button>
        </div>
    </div>

    <div class="form-group">
        <div class="alert alert-error fade in" id="alertBox">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span></span>
        </div>
    </div>

</form>

    <br>
    <a href="/login">@Messages.get("signup_jump_to_login")</a>

}