@(meeting: com.fever.liveppt.models.Meeting)

@main(name="viewMeeting", "观看会议") {
} {
	@defining(meeting.ppt){ppt=>
		<p>观看会议 —— 在这里可以实时观看会议PPT的变化。</p>
		<h2>@meeting.topic (会议ID:@meeting.id)</h2>
		
		<div class="row-fluid">
			<div class="ws-labels span2">
				<span id="ws-initial-label" class="label label-info">正在初始化同步</span>
				<span id="ws-success-label" class="label label-success hide">实时同步中</span>
				<span id="ws-fail-label" class="label label-important hide">同步已断开</span>
				<span id="ws-recover-label" class="label label-warning hide">同步已断开，正尝试恢复...</span>
			</div>
			<div class="span2 offset8">
				<input type="text" data-width="50" data-height="50" id="pageKnob">
			</div>
		</div>

		<br>

		<div id="pageImgPool">
		</div>

		<div class="hide" id="dataDiv" meetingid="@meeting.id" pptId="@meeting.ppt.id" pageCount="@meeting.ppt.pagecount"></div>
	}
}