
<h1>WAMP Pub/Sub test page</h1>

<input id="pub-input" type="text">
<button id="chat-button">
    Publish to chat
</button>

<h2>Output:</h2>
<div id="output" class="well">

</div>

<script src="/assets/js/autobahn.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf-8">
    // Get WAMP endpoint URL
    var wsuri = "@ws.wamplay.controllers.routes.WAMPlayServer.connect().webSocketURL(request)";

    var rpc_topic = "pageQuery#currentPageIndex"

    function write (output, error) {
        var d = $('<div>').html(output);
        if (error) {d.addClass("error")};
        $('#output').append(d);
    }

    function onEvent(topic, event) {
        write("Message from topic: " + topic + ":");
        write(event);
    }

    function setUpControls (session) {
        $("#chat-button").click(function() {
            var message = $("#pub-input").val();
            session.publish("http://cloudslides.net#MeetingPage1", message);
        });
    }

    $(function() {
        // connect to WAMPlay server
        write("Connecting to WAMPlay server...");
        ab.connect(wsuri,

            // WAMP session was established
            function onConnected(session) {
                setUpControls(session);
                write("Connected to " + wsuri);


                session.call(rpc_topic, 1).then(
                    // RPC success callback
                    function (res) {
                        write("got result: " + res);
                        var json = JSON.parse(res);

                        if (json.topicUri!="" || json.topicUri!=undefined)
                            session.subscribe(json.topicUri, onEvent);
                    },

                    // RPC error callback
                    function (error, desc) {
                        write("error: " + desc);
                    }
                );


            },

            // WAMP session is gone
            function onFailed(code, reason) {
                write("Connection lost (" + reason + ")", true);
            },
            {skipSubprotocolCheck:true, skipSubprotocolAnnounce:true} // Important! Play rejects all subprotocols for some reason...
        );
    });
</script>
