@main("LivePPT") {
	<div id = "xs-outerFrame">
		<div id = "xs-innerFrame" class = "row">
			<div id = "xs-main" class = "col-lg-10 jz-clearPaddingRight">
                <button type="button" class="btn btn-default" id = "test">Menu</button>
                <div id = "jz-welcome">
                    <div class = "container">
                        <div class = "row jz-centerDisplay150 ft50 ftbold clfff">
                               欢迎使用LivePPT
                        </div>
                    </div>
                </div>
                <div id = "jz-product">
                    <div id = "jz-pc">
                        <div id = "jz-pcMain" class="bgc2980b9 txtcenter ft25 clfff">
                            <img src = "@routes.Assets.at("images/html5.png")" width = "100px"/>
                        </div>
                        <div id = "jz-pcBottom" class = "bgcccc"></div>
                        <div id = "jz-pcfoot" ></div>
                    </div>
                    <div id = "jz-phone">
                        <div id = "jz-phoneMain" class="bgc1abc9c txtcenter">
                            <img src = "@routes.Assets.at("images/android-logo.png")" width = "72px"/><br/>

                        </div>
                    </div>
                    <div id = "jz-introduction">
                        <h1 class = "txtcenter">It's Awesome! </h1>
                        <button type="button" class="btn btn-primary btn-large btn-block">Join Us</button>
                    </div>
                </div>
			</div>

			<div id = "xs-sidebar" class = "col-lg-2">
				<div class = "xs-logo">
					<img src = "@routes.Assets.at("images/liveppt-icon.png")" class="xs-logoPic" width = "128" />
			</div>
				<ul class="nav nav-pills nav-stacked">
  					<li class="active"><a href="#">首页</a></li>
  					<li><a href="#">我的PPT</a></li>
  					<li><a href="#">会议列表</a></li>
  					<li><a href="#">应用下载</a></li>
  					<li><a href="#">关于我们</a></li>
				</ul>		
			</div>
		</div>
	</div>
}
