/*css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

/*定位*/
.fl{ float: left; display: inline; }
.fr{ float: right; display: inline; }
.center{margin-left: auto;margin-right: auto;}

/*长度高度*/
.h{ height: 100%; }
.w{ width: 100%; }
.w030 { width: 30%; }

/*字体*/
.ft25{font-size: 25px;}
.ft30{font-size: 30px;}
.ft40{font-size: 40px;}
.ft50{font-size: 50px;}
.ftbold{font-weight: bold;}

/*前景色*/
.clfff{color:#fff;}

/*背景色*/
.bgcfff{background-color: #fff;}
.bgcccc{background-color: #ccc;}
.bgce74c3c{background-color: #e74c3c;}
.bgc1abc9c{background-color: #1abc9c;}
.bgcc0392b{background-color: #c0392b;}
.bgc2980b9{background-color: #2980b9;}

/*文字格式*/
.txtcenter{text-align: center;}