html,body{ height: 100%; overflow-x: hidden;}
/*#xs-outerFrame{ width: 100%; height: 100%; }
#xs-innerFrame{ width: 122%; height: 100%; position: relative; left: 0;}

#xs-main{ height: 100%; float:left; background-color: #ffffff; position: relative;}
#xs-sidebar{ height: 100%; float: left; background-color: rgb(40, 40, 40); }
.xs-logo { width: 100%;	margin: 50px 0 40px; padding-left: 20%; }
/*.xs-logoPic { margin: 0 auto; }*/ /*无效*/
/*#test { position: absolute;top:10px;left: 93%; }

div#jz-welcome{ height: 300px; background-color: #428bca;}
div#jz-product{ height: 300px;}
div.jz-clearPaddingRight{padding-right: 0;}
div.jz-centerDisplay150{text-align: center;height: 150px;line-height: 150px;}

div#jz-pc{position: relative;width: 560px;left: 30px; top:-150px;z-index: 100;float:left;}
    div#jz-pcMain{height: 315px;width: 560px;border:20px solid #000;border-radius:5px 5px 0 0;line-height: 300px}
    div#jz-pcBottom{height: 25px;width:560px;border:20px solid #ccc;border-radius:0 0 5px 5px;}
    div#jz-pcfoot{position:absolute;z-index:-1;top:280px;height:100px;width:200px;border-width: 60px;border-color:#fff #fff #999 #fff;border-style:solid;background-color: #ffffff;left:50%;margin-left: -100px;}

div#jz-phone{position: relative;width: 144px; left: 70px;top: -50px;z-index: 100;float: left;}
    div#jz-phoneMain{height: 256px;width: 144px;border:15px solid #000;border-radius:8px;line-height: 230px;}

#jz-introduction{position: relative;width: 300px;left:150px;top: -10px;z-index: 100;float: left;height: 300px;}*/


/*登陆*/
.cover{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgb(100, 100, 100); z-index: 1031; opacity: 0.5; filter: alpha(opacity = 50);}
.loginFrame{ position: relative; z-index: 1032; top: 50%; height: 385px; margin-top: -192.5px; }
.loginMain{ border-radius: 30px; margin: 0 auto; float: none !important; background-color: rgb(70, 70, 70); color: white; padding: 10px 30px 30px;}
.logoWrapper{ width: 100%; text-align: center; padding: 8%;}
.logoWrapper img{ width: 100px; }
.closeBtn{ float: right; width: 20px; cursor: pointer; }
